@import "tailwindcss";
@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald-VariableFont_wght.ttf");
}


@theme {
    --color-yellowish: #ad8a2a;
    --color-dark-color: #A20F0F
}


* {
    font-family: "Oswald", sans-serif;
}

.swiper-button-prev, .swiper-button-next{
    color: white !important;
}
.swiper-pagination-bullet-active{
    background: white !important;
}